html { 
    height: -webkit-fill-available;
}
body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
    margin: 0px;
    font-family: sans-serif;
    background-color: #FCDEE0;
}
#superior {
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    color: white;
    background-color: #950E17;
}
.seccio {
    display: none;
    flex: 90;
    flex-direction: column;
}
#seccio_0 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
}
#seccio_1 {
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
}
#seccio_2 {
    flex-direction: column;
    padding: 1vmin;
}
#credencials{
    display: flex;
    flex-direction: column;
    margin: 5vmax;
    font-size: 3vmax;
    text-align: right;
}
.textos_registre {
    max-width: 20vmax;
    margin-bottom: 2vmax;
    font-size: 3vmax;
}
.boto_registre {
    padding: 1vmax;
    font-size: 3vmax;
}
#menu {
    display: flex;
    flex: 5;
}
.boto_menu {
    color: white;
    background-color: #950E17;
    flex: 1;
}
.icona {
    font-size: 4vmax !important;
}
#div_foto {
    display: flex;
    flex: 1;
    justify-content: center;
}
#div_dades {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}
#foto {
    max-width: 70vmin;
    max-height: 70vmin;
}
#camera {
    font-size: 30vmin;
    color: #950E17;
}
.boto_verd{
    cursor: pointer;
    font-size: 20vmin !important;
    color: green;
}
#fitxer {
    opacity: 0;
    position: absolute;
    width: 0;
}
#canvas, #desar {
    display: none;
}
#foto_div {
    height: 0;
}
#dades_div {
    height: 0;
}
@media (orientation: landscape) {
    body {
        flex-direction: row;
        flex-flow: row-reverse;
    }
    #superior {
        display: none;
    }
    #menu {
        flex-direction: column;
        flex: 10;
    }
    #seccio_2 {
        flex-direction: row;
    }
    #div_foto {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    #foto_div {
        height: auto;
    }
    #div_dades {
        flex-direction: column;
    }
    #dades_div {
        display: flex;
        flex-direction: column;
        height:auto;
    }
}
